@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'DM Sans';
    src: url('~@/assets/font/DMSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
